@import 'tailwindcss';
@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-outfit: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* CM: custom  violet */
    --color-cm-violet-50: #f5f3ff;
    --color-cm-violet-100: #ebe8ff;
    --color-cm-violet-200: #dbd4ff;
    --color-cm-violet-300: #c0b2ff;
    --color-cm-violet-400: #a187fe;
    --color-cm-violet-500: #8456fc;
    --color-cm-violet-600: #8247f5;
    --color-cm-violet-700: #6521e0;
    --color-cm-violet-800: #551bbc;
    --color-cm-violet-900: #47189a;
    --color-cm-violet-950: #2a0d68;

    /* CM: custom green */
    --color-cm-green-50: #f0fdf4;
    --color-cm-green-100: #dcfce8;
    --color-cm-green-200: #bbf7d2;
    --color-cm-green-300: #86efaf;
    --color-cm-green-400: #4ade84;
    --color-cm-green-500: #22c562;
    --color-cm-green-600: #17aa51;
    --color-cm-green-700: #158040;
    --color-cm-green-800: #166536;
    --color-cm-green-900: #14532f;
    --color-cm-green-950: #052e17;

    /* CM: custom pink */
    --color-cm-pink-50: #fcf4ff;
    --color-cm-pink-100: #f9e9fe;
    --color-cm-pink-200: #f2d1fd;
    --color-cm-pink-300: #ebadfa;
    --color-cm-pink-400: #e07cf6;
    --color-cm-pink-500: #ce4aeb;
    --color-cm-pink-600: #bb31d5;
    --color-cm-pink-700: #9820ab;
    --color-cm-pink-800: #7f1c8c;
    --color-cm-pink-900: #6a1c73;
    --color-cm-pink-950: #45064c;

    /* CM: custom orange */
    --color-cm-orange-50: #fffcea;
    --color-cm-orange-100: #fff5c5;
    --color-cm-orange-200: #ffeb85;
    --color-cm-orange-300: #ffdb46;
    --color-cm-orange-400: #ffc81b;
    --color-cm-orange-500: #ffa602;
    --color-cm-orange-600: #e27d00;
    --color-cm-orange-700: #bb5602;
    --color-cm-orange-800: #984208;
    --color-cm-orange-900: #7c360b;
    --color-cm-orange-950: #481a00;

    /* CM: custom blue */
    --color-cm-blue-50: #edf9ff;
    --color-cm-blue-100: #d6efff;
    --color-cm-blue-200: #b5e5ff;
    --color-cm-blue-300: #83d7ff;
    --color-cm-blue-400: #48bfff;
    --color-cm-blue-500: #1e9eff;
    --color-cm-blue-600: #067fff;
    --color-cm-blue-700: #016bff;
    --color-cm-blue-800: #0851c5;
    --color-cm-blue-900: #0d489b;
    --color-cm-blue-950: #0e2c5d;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --radius: 0.65rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.32 0.08 248.49);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.32 0.08 248.49);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.32 0.08 248.49);
    --primary: var(--color-cm-blue-600);
    --primary-foreground: oklch(1 0 0);
    --secondary: var(--color-cm-violet-100);
    --secondary-foreground: var(--color-cm-violet-900);
    --muted: #f0f4f8;
    --muted-foreground: oklch(0.5 0.06 249.98);
    --accent: #f0f4f8;
    --accent-foreground: oklch(0.55 0.2 258.09);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.9 0.02 250.31);
    --input: oklch(0.9 0.02 250.31);
    --ring: var(--color-cm-blue-600);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.98 0 0);
    --sidebar-foreground: oklch(0.32 0.08 248.49);
    --sidebar-primary: var(--color-cm-blue-600);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: #f0f4f8;
    --sidebar-accent-foreground: oklch(0.55 0.2 258.09);
    --sidebar-border: oklch(0.9 0.02 250.31);
    --sidebar-ring: var(--color-cm-blue-600);
}

.dark {
    --background: oklch(0.22 0.01 270);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.24 0.01 269);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.24 0.01 269);
    --popover-foreground: oklch(0.98 0 0);
    --primary: var(--color-cm-blue-500);
    --primary-foreground: oklch(0.99 0.01 0);
    --secondary: var(--color-cm-violet-900);
    --secondary-foreground: var(--color-cm-violet-100);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.98 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.488 0.243 264.376);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #1b1c20;
    --sidebar-foreground: oklch(0.98 0 0);
    --sidebar-primary: var(--color-cm-blue-500);
    --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.98 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.488 0.243 264.376);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* react-select */
.react-select-container .react-select__control {
    @apply rounded-md border-border bg-background text-sm text-foreground hover:border-border;
}
.react-select-container .react-select__input-container {
    @apply text-sm text-foreground;
}
.react-select-container .react-select__single-value {
    @apply text-sm text-foreground;
}

.react-select-container .react-select__menu {
    @apply z-50 bg-background text-foreground;
}

.react-select-container .react-select__option {
    @apply bg-background text-sm text-muted-foreground hover:bg-accent hover:text-foreground dark:hover:bg-card;
}

/* indicator */
.react-select-container .react-select__indicator {
    @apply text-foreground;
}
.react-select-container .react-select__indicator-separator {
    @apply bg-border text-muted-foreground;
}

/* calendar */
.fc-scroller{
    background: var(--background);
    border-color: var(--color-border);
}
.fc-timeGridWeek-view .fc-view .fc-timegrid{
    border-color: var(--color-border);
}
.fc .fc-scroller-harness{
    background: var(--background);
    border-color: var(--color-border);
}
.fc .fc-toolbar-title {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--font-outfit);
}

.fc-theme-standard th {
    background: var(--color-accent);
    font-family: var(--font-outfit);
    font-size: 0.85rem;
    font-weight: 800;
    color: var(--color-foreground);
    border-right-color: var(--color-border);
    border-width: 1px;
}

.fc-theme-standard td {
    font-family: var(--font-outfit);
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--color-foreground);
    border-color: var(--color-border) !important;
}
.fc .fc-today-button {
    background-color: var(--color-cm-blue-600) !important;
    border-color: var(--color-cm-blue-600) !important;
    color: white !important;
}
.fc .fc-button-primary {
    background-color: var(--color-cm-blue-600);
    border-color: var(--color-cm-blue-600);
    font-family: var(--font-outfit);
    font-size: 0.85rem;
    font-weight: 600;
    color: white;
    border-radius: 0.5rem;
}

.fc .fc-button-primary:hover {
    background-color: var(--color-cm-blue-600);
    border-color: var(--color-cm-blue-600);
    color: var(--color-cm-blue-100);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: var(--color-cm-blue-700);
    border-color: var(--color-cm-blue-600);
    color: var(--color-cm-blue-100);
}

.fc {
    background: var(--background);
    border-color: var(--color-border);
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: var(--color-border);
}

.fc-event {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
}

.fc-event-title {
    white-space: normal;
    font-size: 0.85rem;
}

/* Colores según el estado */
.fc-event-pending {
    background-color: #f39c12;
    border-color: #f39c12;
}

.fc-event-confirmed {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.fc-event-cancelled {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.fc-event-completed {
    background-color: #3498db;
    border-color: #3498db;
}

.fc-toolbar-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.fc-col-header-cell {
    padding: 8px 4px;
}

.fc-theme-standard .fc-scrollgrid {
    border-color: var(--color-border);
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-color: var(--color-border) !important;
}


